.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}


.description p {
  word-wrap: break-word;
}

.btnBox{
  flex: 1;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.btnBox button{
 max-height: 5rem;
 min-width: 10rem;
 cursor: pointer;
}
